<!--footer -->
 <div class="footer modal-footer mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                 Copyright © 2019. Todos los derechos reservados por <a href="https://asoftel.net">Asoftel</a>.
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="#">Acerca...</a>
                    <a href="#">Soporte</a>
                    <a href="#">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</div>