



   
 <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar bg-dark col-2">
                <nav class="navbar navbar-expand-lg navbar-dark text-muted">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav  flex-column">
                            <li class="nav-divider">
                                MENÚ
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link active " href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Ajustes <span class="badge badge-info">5</span></a>
                                <div id="submenu-1" class="collapse  " style="">
                                    <ul class="nav flex-column ">
                                        <li class="nav-item ">
                                            <a class="nav-link btn-outline-info" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2"> <i class="far fa-building"></i> Entidad</a>
                                            <div id="submenu-1-2" class="collapse " style="">
                                                <ul class="nav flex-column ">
                                                    <li class="nav-item  ">
                                                        <a class="nav-link text-info" href="{% url 'ajustes:company_list' %}">Matriz</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-info" href="#">Sucursales</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="{% url 'ajustes:typesservice_list' %}">Tipo de Servicios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="{% url 'ajustes:rate_list' %}">Tarifas</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="{% url 'ajustes:fines_list' %}">Asignación de multas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="{% url 'ajustes:discount_list' %}">Descuentos</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Catastro</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="{% url 'ajustes:subscribers_list_table' %}">Abonados <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="{% url 'ajustes:measurer_list' %}">Medidores</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Solicitud de Servicio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Asignación de Servicio</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="#">Suspensión de Servicio</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Planillas</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Hojas Tomas de Lectura</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="#">Generación de Planillas</a>
                                            </li>
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-money-check-alt"></i>Recaudación</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="">Apertura de Caja</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="">Cobro de Planillas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link btn-outline-info" href="">Cierre de Caja</a>
                                            </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                INFORMES
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Catastro </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="">Abonados Suspendidos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Catastro General</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Económicos <span class="badge badge-info">USD$</span></a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Volores recaudados</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn-outline-info" href="#">Deudores</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
