{% extends 'core/base.html' %}
<!--content-->
{% block title %}
  {{instance.title}}
{% endblock title %}

{% block page-title %}
Nuevo medidor

{% endblock page-title %}


{% block submenu-crud %}
<div class="col-12  btn-group btn-group-sm mt-2 justify-content-end">
  <a href="#"> <button type="button" class="btn btn-info btn-sm"  ><i class="fas fa-plus-circle"></i>Grabar</button> </a>
  <a href="{% url 'ajustes:measurer_list' %}"> <button type="button" class="btn btn-info btn-sm"  ><i class="fas fa-sync"></i> Deshacer</button></a>
</div>
{% endblock submenu-crud %}


{% block content %}
<section class="main container mt-2">
    <div class="row">
        <article class="col">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" id="#save" value="Guardar">
            </form>


      
                  <!--Paginacion -->
                     
        </article>
        <!--
        <aside class="col-3 bg-light" >
            
        </aside>
        -->

    </div>

</section> <!--content end--> 


{% endblock content %}

