<!doctype html>
{% load staticfiles %}
<html lang="es">
 
<head>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicital-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>{% block title %}{% endblock title %} | Agua Potable
     </title>
 
    <!-- Bootstrap CSS -->
 
 <link rel="stylesheet" type="text/css" href= "{% static 'css/bootstrap.css' %}" >
 
  <!-- fontawesome CSS -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
 

 <!--DataTable-->
 <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
 <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}"/>

 
 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
 <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
 
 <!-- Estilo ckeditor-->
    <link rel="stylesheet" href="{% static 'css/custom_ckeditor.css' %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper base--> 
    <!-- ============================================================== -->
    <div class=" container-fluid bg-light">
        <div class="row d-block">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
    {% include 'core/includes/header.html' %}
        </div>
        <div class="row">



         <!-- ============================================================== -->
        <!-- end navbar -->

        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        

        {% include 'core/includes/left-sidebar.html' %}


        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="col-10">
                <div class="container-fluid ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-8">
                                <h4 class=" text-muted">
                                <i class="fas fa-search"></i>
                                {% block page-title %}  {% endblock page-title %}
                                </h4>
                                    
                        </div>
                        <div class="col-4">
                            <div class="row">
                                {% block submenu-crud %}{% endblock submenu-crud %} 
                            </div>
                            
                        </div>
                    </div> <!--end Row-->
                    <hr>
                    
                </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

{% block content %}{% endblock content %}
                       
                   

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'core/includes/footer.html' %}
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div> 
    <!-- ============================================================== -->
        <!-- end row  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Termina el contenido-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->   


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    

    <!--DataTable-->
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.colVis.min.js' %}"></script>
    
<!--
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                    language: {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                }
            );
        } );
   
   
    </script>
-->
<script>
        $(document).ready(function() {
            $('#myTable').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'copyHtml5',  footer: true },
                    { extend: 'excelHtml5', title:'Datos exportados', footer: true },
                    { extend: 'pdfHtml5', title:'Datos exportados', footer: true },
                    { extend: 'print', title:'Datos exportados', messageTop:'Informe de Abonados', footer: true},
                ]
            } );
        } );
</script>
    
</body>
 
</html>