{% extends 'core/base.html' %}
{% load staticfiles i18n %}


{% block content %}

<!--content-->
<section class="main container mt-3 border">
      <div class="row">
          <article class="col-9 bg-success">
             <h3>articulo</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam optio maxime obcaecati fugiat harum minus facere eum iste! Placeat dolorem esse repellat ex doloribus veniam velit deleniti eligendi, perferendis illum.
                  </p>
          </article>
          <aside class="col-3 bg-light" >
            <h3>Publicidad</h3>
          </aside>
      </div>
  
</section> <!--content end--> 
{% endblock content %}