{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
    Confirmación
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- password reset page  -->
<!-- ============================================================== -->
<style>.errorlist{color:red;}</style>
   <div class="card ">
         <div class="card-header text-center bg-secondary"><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a><span> Confirmación cambio contraseña</span></div>
         <div class="card-body">
            <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
         </div>
         <div class="card-footer bg-white p-0  ">
               <div class="card-footer-item card-footer-item-bordered"> 
                  <a href="{% url 'login' %}">Iniciar sesión</a>
               </div>
               
               <div class="card-footer-item card-footer-item-bordered"></div>
         </div>
   </div>
   <!-- ============================================================== -->
<!-- end login page  -->
{% endblock content %}