{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- password reset page  -->
<!-- ============================================================== -->
<style>.errorlist{color:red;}</style>
   <div class="card ">
         <div class="card-header text-center bg-secondary"><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a><span> Proceso para recuperar su contraseña</span></div>
         <div class="card-body">
            <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
            <p class="text-success">Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
         </div>
         <div class="card-footer bg-white p-0  ">
               <div class="card-footer-item card-footer-item-bordered"> 
                  
               </div>

               <div class="card-footer-item card-footer-item-bordered"></div>
         </div>
   </div>
<!-- ============================================================== -->
<!-- end login page  -->
{% endblock content %}