{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
    Recuperar contraseña
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- password change page  -->
<!-- ============================================================== -->
   <style>.errorlist{color:red;}</style>
   <div class="card ">
         <div class="card-header text-center bg-secondary"><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a><span> Cambio de contraseña</span></div>
         <div class="card-body">
            <form action="" method="post">{% csrf_token %}
               <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
               {{form.old_password.errors}}
               <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua"></p>
               {{form.new_password1.errors}}
               <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
               {{form.new_password2.errors}}
               <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
               <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
           </form>
         </div>
         <div class="card-footer bg-white p-0  ">
               <div class="card-footer-item card-footer-item-bordered"> </div>
               
               <div class="card-footer-item card-footer-item-bordered"></div>
         </div>
   </div>
<!-- ============================================================== -->
<!-- end login page  -->
{% endblock content %}