{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
    <!-- signup page  -->
    <!-- ============================================================== -->
        <style>.errorlist{color:red;}label {display:none}</style>
         <div class="card ">
             <div class="card-header text-center bg-secondary"><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a><span>Por favor ingrese aqui su información</span></div>
             <div class="card-body">
                  <form action="" method="post">{% csrf_token %}
                        {{ form.as_p}}                     
                        <button type="submit" class="btn btn-info btn-sm btn-block">Confiramr</button>
                 </form>
             </div>
             <div class="card-footer bg-white p-0  ">
                    <div class="card-footer-item card-footer-item-bordered"> </div>
                     
                    <div class="card-footer-item card-footer-item-bordered"></div>
             </div>
         </div>
     <!-- ============================================================== -->
     <!-- end login page  -->
{% endblock content %}