{% extends 'core/base.html' %}
<!--content-->

{% block title %}
    {{instance.title}}
{% endblock title %}


{% block page-title %}
Actualización datos del catastro
{% endblock page-title %}


{% block submenu-crud %}
<div class="col-12  btn-group btn-group-sm mt-2 justify-content-end">
    <a href="#"> <button type="button" class="btn btn-info btn-sm"  ><i class="fas fa-save"></i>Grabar</button> </a>
    <a href="{% url 'catastro:cadastral_list' %}"> <button type="button" class="btn btn-info btn-sm"  ><i class="fas fa-undo-alt"></i> Deshacer</button></a>
</div>
{% endblock submenu-crud %}


{% block content %}
<section class="main container mt-2">
    <div class="row">
        <article class="col">
            
            {% if 'ok' in request.GET%}
                <p class="text-success">
                    Datos editados correctamente.
                    <a href="{% url 'catastro:cadastral_detail' object.id %}"> Haz clic para ver el resultado</a>
                </p>
            {% endif %}
                
            <form method="post">{% csrf_token %}
                {{ form.as_p}}
                <input type="submit" value="Actualizar">
            </form>


      
                  <!--Paginacion -->
                    
                
        </article>
        <!--
        <aside class="col-3 bg-light" >
            
        </aside>
        -->

    </div>

</section> <!--content end--> 


{% endblock content %}

