{% extends 'core/base.html' %}
<!--content-->

{% load static %}
{% block title %}
  {{instance.title}}
{% endblock title %}

{% block page-title %}
Detalle del abonado

{% endblock page-title %}


{% block submenu-crud %}
<div class="col-12  btn-group btn-group-sm mt-2 justify-content-end">
  <a href="{% url 'catastro:subscribers_update' pk=object.pk %}"> <button type="button" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Editar</button> </a>
  <a href="{% url 'catastro:subscribers_list' %}"> <button type="button" class="btn btn-info btn-sm"><i class="fas fa-list-alt "></i> Listar</button> </a>
  <a href="{% url 'catastro:subscribers_delete' pk=object.pk %}"> <button type="button" class="btn btn-info btn-sm"  ><i class="fas fa-trash-alt"></i> Borrar</button></a>
</div>
{% endblock submenu-crud %}



{% block content %}
<section class="main container mt-2">
    <div class="row">
        <article class="col">
          
                <div class="card bg-light mb-3 float-left w-50" >
                        <div class="card-header">{{object.surname}} {{object.name}}</div>
                        
                        <div class="card-body">
                            <div class=" float-right ">
                            
                                {% if object.portrait  %}
                                  <img class="rounded" src="{{object.portrait.url | safe}}" width="120px" height="150px" alt="">
                                {% else %}
                                  <img class="rounded" src="{% static 'core/img/portrait.jpg' %}" width="120px" height="150px" alt="">
                                {% endif %}
                              </div>
                            <h6 class="card-subtitle mb-2 text-muted">{{object.identification}}   - {{object.email}} - {{object.phone}} - {{object.mobile}}</h6>
                          <h5 class="card-title">{{object.address}}</h5>
                          <p class="card-text">{{object.state}}</p>
                          
                         
                        </div>
                      </div>
      
                  <!--Paginacion -->
                    
                
        </article>
        <!--
        <aside class="col-3 bg-light" >
            
        </aside>
        -->

    </div>

</section> <!--content end--> 


{% endblock content %}

