{% extends 'core/base.html' %}
<!--content-->

{% block title %}
{{instance.title}}
{% endblock title %}


{% block page-title %}
Lista de Abonados
{% endblock page-title %}


{% block submenu-crud %}
<div class="col-12  btn-group btn-group-sm mt-2 justify-content-end">
  <a href="{% url 'catastro:subscribers_create' %}"> <button type="button" class="btn btn-outline-info btn-sm"><i class="fas fa-plus-circle"></i> Nuevo</button> </a>
  <a href="{% url 'catastro:subscribers_list' %}"> <button type="button" class="btn btn-outline-secondary btn-sm"  ><i class="fas fa-sync"></i> Actualizar</button></a>
  <a href="{% url 'catastro:subscribers_report' %}"> <button type="button" class="btn btn-outline-success btn-sm "  ><i class="fas fa-file-excel "></i> Excel</button></a>
  <a href="{% url 'catastro:subscribers_report' %}"> <button type="button" class="btn btn-outline-success btn-sm "  ><i class="fas fa-file-excel "></i> PDF</button></a>
</div>
{% endblock submenu-crud %}
  


{% block content %}
 
  
  
  
<section class="main container mt-2 ">
    <div class="row">
        <article class="col ">
            
            <table class="display compact order-column hover " id="myTable">
                    <thead >
                      <tr>
                        <th> Item </th>
                        <th >Identificación</th>
                        <th >Apellidos</th>
                        <th >Nombre</th>
                        <th >Email</th>
                        <th >Teléfono</th>
                        <th >Celular</th>
                        <th >statuss</th>
                        <th class=" text-center"><i class="fas fa-tools"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% if object_list %}
                            
                        {% for abonado in subscribers_list %}
                      <tr>
                        <td>{{abonado.id }}</td>
                        <td >{{abonado.identification}}</td>
                        <td>{{abonado.surname}}</td>
                        <td>{{abonado.name}}</td>
                        <td>{{abonado.email}}</td>
                        <td>{{abonado.phone}}</td>
                        <td>{{abonado.mobile}}</td>
                        <td>{{abonado.state}}</td>
                        <td class=" text-center">
                            <a href="{% url 'catastro:subscribers_update' pk=abonado.pk %}"><abbr title="Editar"> <i class="fas fa-edit text-info"></i></abbr></a> 
                            <a href="{% url 'catastro:subscribers_detail' pk=abonado.pk %}"><abbr title="Ver detalle"><i class="far fa-eye text-success"></i></abbr></a> 
                            <a href="{% url 'catastro:subscribers_delete' pk=abonado.pk %}"> <abbr title="Eliminar"> <i class="far fa-trash-alt text-dark"></i></abbr></a>
                          </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                  <!--Paginacion 
                  {% include 'core/includes/paginacion.html' %}
                -->
        </article>
        <!--
        <aside class="col-3 bg-light" >
            
        </aside>
        -->

    </div>

</section> <!--content end--> 



{% endblock content %}

